.glide {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
  }
  .glide__track {
    width:100vw;
    overflow: hidden;
    
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;

    padding-inline-start: 0;

    overflow: hidden;

   
  }
 
  .glide__slides li img {
    width:10.625rem;
    height: 13rem;
  }
  .circle__btn {
    width: 10px;
    height: 10px;

    border: none;
    border-radius: 50%;

    background-color: rgb(109, 84, 86);

    margin-top: 2rem;
    margin-bottom: 1.5rem;

    
    cursor: pointer;
  }
