@media ( max-width: 450px ) {
    body {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-bottom: 2rem;
    }
    body main div.personal-info-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-top: 2.8rem;
    }
   
    body main div.personal-info-header h2 {
        font-family: 'Dancing Script';
        font-weight: 400;
        font-size: 2.8rem;
        color:rgba(207, 174, 169, 1);
        z-index: 1000;
    }
    body main  .title-bar {
        background-color: rgb(251, 243, 230);
        width: 25rem;
        height: 1.25rem;
        position: absolute;
        z-index: 100;

        margin-top: 1rem;
    }

    form {
        margin-top: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    form label {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
        text-align: center;

        color: #9F8F89;

        margin-bottom: .5rem;

    }
    form input {
        width: 19rem;
        height: 2.3rem;
        border: 1px solid #F4D7D9;
        box-sizing: border-box;
        border-radius: 5px;

        margin-bottom: .9rem;

        text-align: center;
    }
    .street-number {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .street {
        width: 15.5rem;
    }
    .number {
        width: 3rem;
        margin-left: .5rem;
    }
    form input::placeholder {
         
        font-family: Quicksand;
        font-weight: 500;
        font-size: .9rem;
        text-align: center;
        color: #C4C4C4;
    }
    form button {
        width: 14rem;
        height: 4rem;

        border-radius: 5px;
        background: #63E270;
        
        font-family: Quicksand;
        font-weight: 500;
        font-size: 1rem;
        text-align: center;
        color: white;

        margin-top: 1.9rem;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1rem;

    }
    form button  {
        margin-left: 1rem;
    }
    p.alert {
          
        font-family: Quicksand;
        font-weight: 500;
        font-size: .9rem;
        text-align: center;
        color: rgba(159, 143, 137, 1);
        text-transform: uppercase;

        width: 19rem;
        height: 4rem;

        border: 1px solid #E04B43;

        padding: .8rem;

        margin-top: 2.1rem;
    }
}
@media ( max-width:420px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 372px) {
    html {
        font-size: 13px;
    }
}
@media ( max-width:327px) {
    body main div.personal-info-header  h2 {
        font-size: 2.5rem;
    }
    body main  .title-bar {
        width: 23rem;
    }
}