@media(max-width: 450px) {
    .fita01 {
        position: absolute;
        top: 6rem;
        left: 0;
        z-index: -10;
    }
    .fita02 {
        position: absolute;
        left: -2rem;
        margin-top: -2rem;
    }
}